@import "../bower_modules/semantic/dist/semantic.css";

body
{
background-color: #ffffff;
}

.ui.menu .item img.logo
{
margin-right: 1.5em;
}

.main.container
{
margin-top: 7em;
}

.wireframe
{
margin-top: 2em;
}

.ui.footer.segment
{
margin: 5em 0 0;
padding: 5em 0;
}

.ui.menu .ui.container .toc.item.toggleMenu
{
display: none;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered).addition,
.divider.addition
{
display: none;
}

@media only screen and (max-width: 950px)
{
    .ui.menu .ui.container .toc.item.toggleMenu,
    .ui.menu .ui.dropdown.item .menu .item:not(.filtered).formSearch,
    .ui.menu .ui.dropdown.item .menu .item:not(.filtered).forSearch,
    .divider.addition.forSearch
    {
    display: block;
    }

    .ui.menu:not(.vertical) .item.formSearch
    {
    display: none;
    }
}

@media only screen and (max-width: 750px)
{
    .ui.menu:not(.vertical) .right.menu.sideMenu
    {
    display: none;
    }

    .ui.menu .ui.dropdown.item .menu .item:not(.filtered).addition,
    .divider.addition
    {
    display: block;
    }
}

.masthead.segment
{
min-height: 700px;
padding: 1em 0;
}

.masthead h1.ui.header
{
margin-top: 3em;
margin-bottom: 0;
font-size: 4em;
font-weight: normal;
line-height: 1em;
}

.masthead h2
{
font-size: 1.7em;
font-weight: normal;
}

@media only screen and (max-width: 700px)
{
    .masthead.segment
    {
    min-height: 350px;
    }

    .masthead h1.ui.header
    {
    font-size: 2em;
    margin-top: 1.5em;
    }

    .masthead h2
    {
    margin-top: 0.5em;
    font-size: 1.5em;
    }
}

.CONTENT
{
padding: 15px;
}