.icon_Log_Performance_small
{
background-image: url(../images/icon_Performance_small.png?1212);
background-repeat: no-repeat;
background-position: center center;
}

.icon_Log_Editions_small
{
background-image: url(../images/icon_Editions_small.png?1212);
background-repeat: no-repeat;
background-position: center center;
}

.icon_Log_Speed_small
{
background-image: url(../images/icon_Speed_small.png?1212);
background-repeat: no-repeat;
background-position: center center;
}

.icon_Log_BaseSlow_small
{
background-image: url(../images/icon_BaseSlow_small.png?1212);
background-repeat: no-repeat;
background-position: center center;
}

.icon_Log_Error_small
{
background-image: url(../images/icon_Error_small.png);
background-repeat: no-repeat;
background-position: center center;
}
