.icon_Publication_Articles_small
{
background-image: url(../images/icon_small_publication.png);
background-repeat: no-repeat;
background-position: center center;
}

.icon_Publication_Comment_small
{
background-image: url(../images/icon_small_comment.png);
background-repeat: no-repeat;
background-position: center center;
}